<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="../util/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="../util/ueditor/ueditor.all.js"></script>

    <style type="text/css">
        body{
            background: #f2f2f2;
        }
        #container{
            height: 400px;
        }
        #content{
            border: 1px solid #cccccc;
            background: #ffffff;
            padding: 80px;
        }
    </style>
</head>
<body>
    <!--导航栏-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">技术论坛</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">博客</a></li>
                    <li><a href="#">学院</a></li>
                    <li><a href="#">论坛</a></li>
                    <li><a href="#">发现</a></li>
                    <li><a href="#">我的博客</a></li>
                </ul>
            </div>
            <div>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 主体 -->
    <div class="container">
        <div class="row">
            <h2><span class="text-danger">&nbsp;&nbsp;创作中心</span>
                <div class="button btn-info btn-lg pull-right">
                    <span class="glyphicon glyphicon-plus">写博客</span>
                </div>
            </h2>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row"><hr/></div>
        <div class="row" id="content">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">我的文章</a></li>
                    <li><a href="#">评论管理</a></li>
                    <li><a href="#">我的草稿</a></li>
                    <li><a href="#">回收站</a></li>
                </ul>
            </div>
            <div class="col-md-9" style="min-height: 500px">
                <h4>编写博客</h4>
                <hr/>
                <div class="row">
                    <input type="text" class="form-control" placeholder="请输入标题"/>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <!-- 加载编辑器的容器 -->
                    <script id="container" name="content" type="text/plain"></script>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row" style="margin-top: 150px">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-info">保存文章</button></p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger">发布文章</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="height:200px"></div>
        </div>
    </div>


    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
</body>
</html>