<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsq.community.customMapper.SearchMapper">
    <resultMap id="BaseResultMap" type="com.lsq.community.po.Forum" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="reading_num" property="readingNum" jdbcType="INTEGER" />
        <result column="comments" property="comments" jdbcType="INTEGER" />
    </resultMap>
    <select id="selectForumByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
            forum.*
        FROM
            forum
        LEFT JOIN `user` ON forum.user_id = `user`.id
        WHERE
            <if test="value != null and value != ''">
                (
                    forum.title LIKE '%${value}%'
                    OR forum.content LIKE '%${value}%'
                    OR `USER`.username LIKE '%${value}%'
                )
                AND
            </if>
        forum.`status` = 1
        ORDER BY
            forum.reading_num DESC,
            forum.comments DESC
    </select>
</mapper>