<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.lsq.community.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.lsq.community.pojo.User">
        <id column="id" property="id" javaType="java.lang.Long"></id>
        <association property="reg_time" column="regDate" javaType="java.util.Date"></association>
        <association property="lastUpdateTime" column="last_update_time" javaType="java.util.Date"></association>
        <association property="regIP" column="reg_ip" javaType="java.lang.String"></association>
    </resultMap>

    <select id="selectUserById" resultType="userResultMap" parameterType="long">
        SELECT * FROM user WHERE id = #{id}
    </select>

</mapper>